<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/crypto-js/aes.js}"></script>
    <script type="text/javascript" th:src="@{/js/crypto-js/pbkdf2.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/Encrypt_Decrypt.js}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
Welcome to Password Management System!
<form action="/management/add" method="post" onsubmit="beforeSubmit()" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="encryptedPassword" id="encryptedPassword" value=""/>
    <input type="hidden" name="clearPasswordHash" id="clearPasswordHash" value=""/>

    <table>
        <tr>
            <td>Domain</td>
            <td>
                <input type="text" name="domain" id="domain" />
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="domainUsername" id="domainUsername"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" name="domainPassword" id="domainPassword" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" ></input> </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function beforeSubmit() {
        var password = document.getElementById("domainPassword").value ;

        var encryptedPassword = encrypt(password);
        document.getElementById("encryptedPassword").value = encryptedPassword;

        var clearPasswordHash = hashString(password);
        document.getElementById("clearPasswordHash").value = clearPasswordHash;

        return true;
    }


    function encrypt(clearPassword) {
        // - Code to execute when all DOM content is loaded.
        // - including fonts, images, etc.
            var key = getEncryptKeyFromCookie();
          return encryptWithKey(clearPassword, key);

    }


</script>
</body>
</html>