<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/crypto-js/aes.js}"></script>
    <script type="text/javascript" th:src="@{/js/crypto-js/pbkdf2.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.min.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
Welcome to Password Management System!
<form action="/management/add" method="post" onsubmit="beforeSubmit()">
    <input type="hidden" name="encryptedPassword" id="encryptedPassword" value=""/>

    <table>
        <tr>
            <td>Domain</td>
            <td>
                <input type="text" name="domain" id="domain" />
            </td>
        </tr>
        <tr>
            <td></td>Username</td>
            <td><input type="text" name="domainUsername" id="domainUsername"/></td>
        </tr>
        <tr>
            <td></td>Password</td>
            <td><input type="text" name="domainPassword" id="domainPassword" /></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function getEncryptKeyFromCookie() {
        return get_cookies_array()['EncryptKey'];
    }

    function get_cookies_array() {

        var cookies = {};

        if (document.cookie && document.cookie != '') {
            var split = document.cookie.split(';');
            for (var i = 0; i < split.length; i++) {
                var name_value = split[i].split("=");
                name_value[0] = name_value[0].replace(/^ /, '');
                cookies[decodeURIComponent(name_value[0])] = decodeURIComponent(name_value[1]);
            }
        }

        return cookies;
    }

    function beforeSubmit() {
        var password = document.getElementById("domainPassword").value ;

        var passwordHash = createPasswordHash(password, username);
        document.getElementById("passwordHash").value = passwordHash;

    }


    function encrypt(encryptedPassword) {
        // - Code to execute when all DOM content is loaded.
        // - including fonts, images, etc.
        try {
            var encryptKey = getEncryptKeyFromCookie();
            var bytes = CryptoJS.AES.encrypt(encryptedPassword, encryptKey);
            var plaintext = bytes.toString(CryptoJS.enc.Utf8);

            if (checkIntegrity(plaintext, clearPasswordHash)) {
                document.getElementById(atId).innerText = plaintext;

            } else {
                document.getElementById(atId).innerText = "Cannot decrypt";

            }
        } catch (e) {
            document.getElementById(atId).innerText = "Cannot decrypt";
        }
    }

    function checkIntegrity(clearPassword, clearPasswordHash) {

        return hash(clearPassword) == clearPasswordHash
    }

    function hash(message) {
        var iterations = 100;
        var userHash = CryptoJS.PBKDF2(message, "", {keySize: 256 / 32, iterations: iterations});

        return userHash.toString();
    }

</script>
</body>
</html>