<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/crypto-js/aes.js}"></script>
    <script type="text/javascript" th:src="@{/js/crypto-js/pbkdf2.js}"></script>
    <script type="text/javascript" th:src="@{/js/Encrypt_Decrypt.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}" />
</head>
<body>

<div class="mainContent">
    <h2 style="text-align: center">
Welcome to Password Management System!
    </h2>
    <p style="text-align: center;">Please input user/user to pass the authentication</p>
<form action="login" method="post" onsubmit="return beforeSubmit()">
    <input type="hidden" name="passwordHash" id="passwordHash" value=""/>
    <table style="margin: auto;">
        <tr>
            <td>Username</td>
            <td>
                <input type="text" name="username" id="username">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" id="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>

    </table>
</form>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        // - Code to execute when all DOM content is loaded.
        // - including fonts, images, etc.
        clearEncryptKeyFromCookie();
    });

    function beforeSubmit() {
        var password = document.getElementById("password").value ;
        var username = document.getElementById("username").value ;

        var passwordHash = createPasswordHash(password, username);
        document.getElementById("passwordHash").value = passwordHash;

        var encryptKey = createEncryptKey(password, username);
        storeEncryptedKey(encryptKey);
    }

</script>
</body>
</html>