<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/crypto-js/aes.js}"></script>
    <script type="text/javascript" th:src="@{/js/crypto-js/pbkdf2.js}"></script>
    <script type="text/javascript" th:src="@{/js/Encrypt_Decrypt.js}"></script>

    <!--<script type="text/javascript" th:src="@{/js/jquery.cookie.min.js}"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
Welcome to Password Management System!
Please input user/user to pass the authentication
<form action="login" method="post" onsubmit="return beforeSubmit()">
    <input type="hidden" name="passwordHash" id="passwordHash" value=""/>
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" name="username" id="username">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" id="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>

    </table>
</form>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        // - Code to execute when all DOM content is loaded.
        // - including fonts, images, etc.
        clearEncryptKeyFromCookie();
    });

    // Encrypt
    var ciphertext = CryptoJS.AES.encrypt('my message', 'secret key 123');

    // Decrypt
    var bytes  = CryptoJS.AES.decrypt(ciphertext.toString(), 'secret key 123');
    var plaintext = bytes.toString(CryptoJS.enc.Utf8);

    console.log(plaintext);

    var key = "aaa";
    var ecrypted = encryptWithKey("kien", key);
    var clearText = decryptPasswordWithKey(ecrypted, key);

    function beforeSubmit() {
        var password = document.getElementById("password").value ;
        var username = document.getElementById("username").value ;

        var passwordHash = createPasswordHash(password, username);
        document.getElementById("passwordHash").value = passwordHash;

        var encryptKey = createEncryptKey(password, username);
        storeEncryptedKey(encryptKey);
    }



</script>
</body>
</html>