<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/crypto-js/aes.js}"></script>
    <script type="text/javascript" th:src="@{/js/crypto-js/pbkdf2.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/Encrypt_Decrypt.js}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
Welcome to Password Management System!


<table>
    <tr><th>Domain</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    <tr th:each="password: ${passwords}">
        <td th:text="${password.getDomain()}"> </td>
        <td th:text="${password.getDomainUsername()}"> </td>
        <td>
            <span th:id="'password-text-' + ${password.getId()}" class="password-text">

        </span>

        </td>
    </tr>
</table>

<p><a href="/management/add">Add password</a></p>
<script type="text/javascript">

    function decrypt(encryptedPassword, clearPasswordHash,  atId) {
            // - Code to execute when all DOM content is loaded.
            // - including fonts, images, etc.
        try {
            var key = getEncryptKeyFromCookie();

            var plaintext = decryptPasswordWithKey(encryptedPassword, key);
            if (checkIntegrity(plaintext, clearPasswordHash)) {
                document.getElementById(atId).innerText = plaintext;

            } else {
                document.getElementById(atId).innerText = "Cannot decrypt";

            }
        } catch (e){
            document.getElementById(atId).innerText = "Cannot decrypt";
        }
    }

    function checkIntegrity(clearPassword, clearPasswordHash) {

        return hashString(clearPassword) == clearPasswordHash
    }



</script>


<script th:inline="javascript">

    //For each to decrypt password
    document.addEventListener("DOMContentLoaded", function(event) {

        /*<![CDATA[*/

    /*[# th:each="password : ${passwords}"]*/
    var encryptedPassword = /*[[${password.getEncryptedPassword()}]]*/ '';
    var clearPasswordHash =  /*[[${password.getClearPasswordHash()}]]*/ '';
        decrypt(encryptedPassword, clearPasswordHash, 'password-text-' + (/*[[${password.getId()}]]*/ ''));
    /*[/]*/

    /*]]>*/
    });

</script>

<script th:inline="javascript">

</script>
</body>
</html>